
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="authorform">
    <table border="1">
        <thead>
        <tr>
            <th>Нэр</th>
            <th>Утга</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Овог</th>
            <td>
                <input type="text" th:field="*{lastName}" class="form-control"
                       th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''"
                       placeholder="Гарчиг"/>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                      class="invalid-feedback">Query Error</span>
            </td>
        </tr>
        <tr>
            <th>Нэр</th>
            <td>
                <input type="text" th:field="*{firstName}" class="form-control"
                       th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"
                       placeholder="Гарчиг"/>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                      class="invalid-feedback">Query Error</span>
            </td>
        </tr>
        <tr>
            <th>Номны нэр</th>
            <td>
                <select name="books" th:field="*{bookId}">
                    <option th:each="books: ${books}"  th:value="${books.id}" th:text="${books.title}" ></option>
                </select>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button class="input-group-text" type="submit">Submit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>