<html layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Жагсаалт</title>

</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->

<!--/*@thymesVar id="book" type="mn.invescore.ailab.example.model.Book"*/-->
<!--/*@thymesVar id="data" type="org.springframework.data.domain.Page"*/-->
<!--/*@thymesVar id="id" type="java.lang.Long"*/-->

<div layout:fragment="content">
    <div th:if="${data!=null && data.content!=null && not #lists.isEmpty(data.content)}">
        <table border="1">
            <thead>
            <tr>
                <th></th>
                <th></th>

                <th><a th:href="@{/example/create}"
                       th:alt-title="Show">Create</a></th>
            </tr>
            <tr>
                <th>Гарчиг</th>
                <th>Агуулга</th>

                <th>Үйлдэл</th>
            </tr>
            </thead>
            <tbody>


            <tr th:each="book, iStat : ${data.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td th:text="${book.title}"/>
                <td th:text="${book.content}"/>
                <td>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/example/{id}(id=${book.id})}"
                       th:alt-title="Show">Show</a>
                    <a th:href="@{/example/{id}/edit(id=${book.id})}"
                       th:alt-title="Edit">Edit</a>
                    <a th:href="@{/example/{id}/delete(id=${book.id})}"
                       th:alt-title="Delete">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:replace="~{fragments/pagination :: paginate(page=${data}, baseUrl='/example')}">
            <p>Form body</p>
        </div>

    </div>
    <div th:if="${data==null || data.content==null || #lists.isEmpty(data.content)}">Тохирох мэдээлэл олдосонгүй. <a
            th:href="@{/example/create}"
            th:alt-title="Show">Create</a></div>
</div>
</body>
</html>