<html layout:decorate="~{layouts/app.html}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>Дэлгэрэнгүй мэдээлэл</title>

</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->

<!--/*@thymesVar id="book" type="mn.invescore.ailab.example.model.Book"*/-->

<div layout:fragment="content">
    <table th:if="${book!=null}" border="1">
        <thead>
        <tr>
            <th>Нэр</th>
            <th>Утга</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Гарчиг</th>
            <td th:text="${book.title}"/>
        </tr>
        <tr>
            <th>Агуулга</th>
            <td th:text="${book.content}"/>
        </tr>
        <tr>
            <th>Зохиолчийн нэр</th>
            <td th:text="${book.author.lastName}"/>

        </tr>
        <tr>
            <th>createdAt</th>
            <td th:text="${#dates.format(book.createdAt, 'yyyy-MM-dd hh:mm')}"/>
        </tr>
        <tr>
            <th>updatedAt</th>
            <td th:text="${#dates.format(book.updatedAt, 'yyyy-MM-dd hh:mm')}"/>
        </tr>
        </tbody>
    </table>
    <div th:if="${book==null}">Тохирох мэдээлэл олдосонгүй.</div>
</div>
</body>
</html>